
body {
display: flex;
  margin: 0;
}

.fotoperfil {
  width: 150px;
  height: 130px;
  margin-top: 10px;
  border-radius: 50%;
}

.perfil {
  text-align: center;
  background-color: #234e78;
  min-height: 100vh;
  width: 100%;
  max-width: 400px;
  flex-shrink: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;

}

.nombre {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: -20px;
  font-size: 1.6em;
  width: 85%;
  align-items: center;
flex-wrap: wrap;
gap: 5px ;
}
.ing{font-size:0.7em;}
.esp_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  width: 100%;

  margin-left: 60px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.7em;
}

.especialidad {
  display: flex;
  margin-bottom: -10px;
}

.rni {
  display: flex;
  margin-bottom: 0px;
}

.descripcion {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 85%;
  text-align: justify;
  font-size: 0.9em;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contacto_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  margin-left: 20px;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;

}
.contacto {
  display: flex;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 25px;
}
.contacto_item {
  display: flex;
  margin-bottom: 0px;
  gap: 20px;
  align-items: center;
  margin-left: 40px;
}

.telf {
  margin-bottom: 0px;
  height: 25px;
  margin-left: 5px;
  margin-top: 3px;
}
.circle {
  width: 33px;
  height: 33px;
  background-color: white;
  border-radius: 50%;
  margin-left: 0;
  margin-bottom: 0;
}

.mail {
  margin-bottom: 0px;
  height: 16.3px;
  margin-left: 4px;
  margin-top: 9px;
}

.casa {
  margin-bottom: 0px;
  height: 25px;
  margin-left: 3px;
  margin-top: 2px;
}

.numero {
  color: white;
  text-decoration: underline;
}


.detalles {
  text-align: center;
  font-size: 1.2em;
  min-height: 100vh;

  width: 100%;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: rgb(189, 197, 197);
  flex-shrink: 0; 
    overflow-y: hidden;
}


.subtitle{
  font-size: 1.25em;
  color: #234e78;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:bold;
}
.formacion{
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bolder;
  width: 84.8%;
  color: black
}

.instituto{
  font-size: 0.95em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 15px;

}
.habilidades_container{
  display: flex;
  width: 85%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.habilidades_izq{
  display: flex;
  max-width: 50%;
  margin-right: 30px;
  justify-content:end ;
  flex-direction: column;
}

.habilidades_der{
  display: flex;
  margin-left: 30px;
  max-width: 50%;
  justify-content: center;
  flex-direction: column;
}
.habilidad{margin-bottom: 20px;}

.espacio{margin-top: 20px;}
